@model List<MyMVC.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="title titlelist">
    <h1>Categories List</h1>
        
</div>

<div>
    <div class="list">
        <table>
            <thead class="list-names">
                <tr>
                    <th class="list-columns">Category</th>
                    <th class="list-columns">About</th>
                </tr>
            </thead>
            <tbody class="list-fields">
                @if (Model != null)
                {
                    foreach (var c in Model)
                    {
                        <tr>
                            <td class="mnames">@c.Name</td>
                            <td class="mnames">@c.Description</td>
                        </tr>
                    }
                }
                else
                {
                    <p class="mnames">Model is NULL</p>
                }
            </tbody>
        </table>
    </div>
</div>