@model List<MyMVC.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="title titlelist">
    <h1>Categories List</h1>
        
</div>

<div>
    <div class="list">
        <ol method="post">
            @if (Model != null)
            {
                foreach (var k in Model)
                {
                    <li class="mnames">@k.Name - @k.Description</li>
                }
            }
            else
            {
                <p class="mnames">Model is NULL</p>
            }
        </ol>
    </div>
</div>