@model List<MyMVC.Models.People>

@{
    ViewData["Title"] = "People";
}

<div class="title titlelist">
    <h1>People List</h1>
</div>

<div>
    <div class="list">
        <ol method="post">
                @if (Model != null)
                {
                    foreach (var c in Model)
                    {
                         <li class="mnames">@c.FullName, @c.Age y.o. - @c.Role</li>
                    }
                }
                else
                {
                    <p class="mnames">Model is NULL</p>
                }
            </ol>
    </div>
</div>