@model List<MyMVC.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="title titlelist">
    <h1>Products List</h1>
    <a class="btn-1" asp-controller="Home" asp-action="AboutUs">
        <img src="~/images/back-button-removebg-preview.png" class="back-btn" />
    </a>
</div>

<div>
    <div class="list">
    <ol method="post">
            @if (Model != null)
            {
                foreach (var p in Model)
                {
                    <li class="mnames">@p.Name - @p.Category</li>
                }
            }
            else
            {
                <p class="mnames">Model is NULL</p>
            }
    </ol>
    </div>
</div>
