@model List<MyMVC.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="title titlelist">
    <h1>Products List</h1>
    
</div>

<div>
    <div class="list">
        <table>
            <thead class="list-names">
                <tr>
                    <th class="list-columns">Category</th>
                    <th class="list-columns">Product</th>
                    <th class="list-columns">Price/kg</th>
                    <th class="list-columns">Amount (kg)</th>
                </tr>
            </thead>
            <tbody class="list-fields">
                @if (Model != null)
                {
                    foreach (var c in Model)
                    {
                        <tr>
                            <td class="mnames">@c.Category</td>
                            <td class="mnames">@c.Name</td>
                            <td class="mnames">@c.PricePerKg</td>
                            <td class="mnames">@c.QuantityKg</td>
                        </tr>
                    }
                }
                else
                {
                    <p class="mnames">Model is NULL</p>
                }
            </tbody>
        </table>
    </div>
</div>
