@{
    ViewData["Title"] = "Manage Staff";
}

<div class="title">
    <h1>Manage staff information</h1>
</div>

<div class="text-center">
    <a class="button-4" asp-controller="Management" asp-action="AddPeople">Add employees</a>
    <a class="button-4" asp-controller="Management" asp-action="ChangePeople">Change employee information</a>
    <a class="button-4" asp-controller="Management" asp-action="DeletePeople">Delete employees</a>
</div>