html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.titlelist{
    justify-content: flex-start;
    margin-right: auto;
}

.titlelist h1{
    margin-left: 20px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-4 {
    border-radius: 15px;
    width: 60%;
    background-color: grey;
    border: 1px solid darkgrey;
    padding: 10px;
    margin: 20px;
    opacity: 80%;
    transition: all 0.2s ease;
}

a.button-4 {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

a.button-4:hover {
    color: white;
    background-color: black;
    opacity: 100%;
    cursor: pointer;
}

.list {
    background-color: #DDE3E9;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 25px;
    margin-top: 35px;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.mnames {
    font-size: 40px;
}

.btn-1 {
    position: fixed;
    left: 50px;
    top: 100px;
    background-color: #DDE3E9;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.3s opacity ease;
    order: -2;
}

.btn-1:hover{
    cursor: pointer;
    opacity: 1;
}

.back-btn {
    width: 40px;
}

.input-fields{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-name,
.input-age,
.input-email{
    text-align: center;
   font-size: 40px;
}