@{
    ViewData["Title"] = "Management";
}

<div class="title">
    <h1>Management</h1>
</div>

<div class="text-center">
    <a class="button-4" asp-controller="management" asp-action="products">Manage products</a>
    <a class="button-4" asp-controller="management" asp-action="categories">Manage categories</a>
    <a class="button-4" asp-controller="management" asp-action="people">Manage staff</a>
</div>
