@{
    ViewData["Title"] = "Management";
}

@{
    ViewData["Title"] = "About Us";
}
<style>
    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button-4 {
        border-radius: 15px;
        width: 60%;
        background-color: grey;
        border: 1px solid darkgrey;
        padding: 10px;
        margin: 20px;
        opacity: 80%;
        transition: all 0.2s ease;
    }

    a.button-4 {
        font-size: 40px;
        text-decoration: none;
        color: black;
    }

        a.button-4:hover {
            color: white;
            background-color: black;
            opacity: 100%;
            cursor: pointer;
        }
</style>

<div class="text-center">
    <h1>Management</h1>
    <a href="People" class="class button-4">Manage products</a>
    <a href="Products" class="class button-4">Manage categories</a>
    <a href="Categories" class="class button-4">Manage staff (ADMINS ONLY)</a>
</div>
