@{
    ViewData["Title"] = "About Us";
}

<div class="title">
    <h1>About Us</h1>
</div>

<div class="text-center">
    <a class="button-4" asp-controller="Information" asp-action="People">Staff</a>
    <a class="button-4" asp-controller="Information" asp-action="Products">Products available</a>
    <a class="button-4" asp-controller="Information" asp-action="Categories">Categories information</a>
</div>