@{
    ViewData["Title"] = "Home Page";
}

<style>
    .wel{
        font-size: 60px;
    }
    .text-center{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }

    .button-4{
        border-radius: 15px;
        width: 60%;
        background-color: grey;
        border: 1px solid darkgrey;
        padding: 10px;
        margin: 20px;
        opacity: 80%;
        transition: all 0.2s ease;
    }
    a.button-4{
        font-size: 40px;
        text-decoration: none;
        color: black;
    }
    a.button-4:hover{
        color: white;
        background-color: black;
        opacity: 100%;
        cursor: pointer;
    }
</style>

<div class="text-center">
    <h1 class="wel">Welcome to RBC Market!</h1>
    <a href="#" class="class button-4">Buy Products</a>

</div>
