@{
    ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<div class="text-center">
    <h1 class="wel">Welcome to RBC Market!</h1>
    <a href="#" class="class button-4">Buy Products</a>

</div>
