@{
    ViewData["Title"] = "Management";
}

<div class="title">
    <h1>Management</h1>
</div>

<div class="text-center">
    <a class="button-4" asp-controller="Management" asp-action="ManageProducts">Manage products</a>
    <a class="button-4" asp-controller="Management" asp-action="ManageCategories">Manage categories</a>
    <a class="button-4" asp-controller="Management" asp-action="ManagePeople">Manage staff</a>
</div>
